<div class="layout">
  <div class="course-video">
    <video
      [src]="videoURL"
      controls
      autoplay
      preload="auto"
      controlsList="nodownload"
    ></video>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Mô tả"><p [innerHTML]="description"></p></mat-tab>
      <mat-tab label="Hỏi đáp">
        <app-comment></app-comment>
      </mat-tab>
      <mat-tab label="Đánh giá">
        <app-rating></app-rating>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="course-content">
    <ng-container
      *ngFor="
        let content of ContentsObservable | async;
        let i = index;
        trackBy: trackByFn
      "
    >
      <mat-card (click)="getDetailContent(content)" class="d-flex"
        ><i class="material-icons mr-2">{{
          content.type_status | content_icon
        }}</i>
        {{ i + 1 }}. {{ content.title }}</mat-card
      >
    </ng-container>
  </div>
</div>
