:host {
  --background_color: #1e1e1e;
  --text_color: white;
}
.testcase-list--wrapper{
  width: 100%;
  font-family: Gotham A, Gotham B, sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .-padding-t-16 {
    padding-top: 16px;

    .-layout-h {
      width: 100%;
      display: flex;
      flex-direction: row;
      .task-tests--label {
        font-weight: 700;
        margin: 0 0 16px 20px;
        width:45%;
      }
      .task-tests--value {
        width: 55%;
        margin-bottom: 20px;
        max-width: calc(100% - 130px);
        word-wrap: break-word;
        //overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        font-family: Operator Mono SSm A, Operator Mono SSm B, monospace;
        color: var(--text_color);
        .testcase{
          margin-bottom: 10px;
        }
      }

    }
  }
}
::ng-deep .mat-select-panel{
  position: relative;
  top: 40px;
  right: 10px;
}
::ng-deep .mat-expansion-indicator::after {
  color: var(--text_color);
}
