<!-- <input
  type="file"
  name=""
  id=""
  (change)="onSelectedFile($event)"
  text="dads"
/>

<video

  [src]="prev_url"
  style="width: 300px; height: 300px"
  preload="auto"
  controlslist="nodownload"
  tabindex="-1"
  controls
></video>

<div>
  <button (click)="getUser()">get user</button>
  <div style="margin-top: 100px">
    <app-shared-test></app-shared-test>
  </div>

  <h1>Test mat input</h1>

  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" />
  </mat-form-field>
</div> -->

<video controls >
  <source [src] ='videoURL' type="video/mp4" />
</video>

<!-- <img [src]="videoURL" width="500px" height="500px"> -->
