<div class="ex-container">
  <div class="ex-header">
    {{title | uppercase}}
  </div>
  <div class="trans-body" *ngIf="trans?.length > 0; else noRecord">
    <div class="trans-items">
      <table>
        <tr>
          <th>Mã giao dịch</th>
          <th>Loại giao dịch</th>
          <th>Nội dung</th>
          <th>Số tiền</th>
          <th>Thời gian</th>
        </tr>
        <tr *ngFor="let tran of trans">
          <td>{{tran.id}}</td>
          <td>{{tran.isRecharge ? 'Nạp tiền' : 'Thanh toán'}}</td>
          <td>{{tran.vnp_OrderInfo}}</td>
          <td class="recharge">+ {{tran.vnp_Amount | number:'1.0-0'}}</td>
          <td>{{getDate(tran.vnp_PayDate)}}</td>
        </tr>
      </table>
    </div>
  </div>

  <ng-template #noRecord>
    <div class="no-record">{{noRecordMessage}}</div>
  </ng-template>
</div>
