<div class="overview-wrapper">
  <div class="title" style="padding-bottom:10px">
    Bài tập: {{ content.title }}
  </div>
  <div>
    <span>Mô tả:</span>
    <p [innerHTML]="content.description"></p>
  </div>
  <div>Thời gian thực thi: {{ function.execution_time }}</div>

  <div class="input-container">
    <div>Input</div>
    <div class="input" style="padding-left:10px">
      <div *ngFor="let input of function.inputs" style="padding:5px 0px;">
        <div style="padding-bottom:5px">Tên tham số: {{ input.name }}</div>
        <div>
          Kiểu dữ liệu: {{input.datatype}}
        </div>
      </div>
    </div>
  </div>

  <div class="output-container">
    <div>
      Output:
    </div>
    <div>
      <div style="padding-left:10px; padding-top: 5px;">
        Kiểu dữ liệu: {{function.output_data_type}}
      </div>
    </div>
  </div>
</div>
