<div class="list-course">
  <h1>Danh sách khóa học đã tạo</h1>
  <div class="search-add">
    <div class="search">
      <input type="text" placeholder="Tìm kiếm khóa học của bạn" />
      <mat-icon>search</mat-icon>
    </div>
    <button class="add">Tạo khóa học mới</button>
  </div>
  <div class="course">
    <img
      src="../../../../../assets/create-course/placeholder.jpg"
      alt=""
      class="img-response"
      height="118px"
    />
    <div class="course-content">
      <div class="course-infor">
        <span>Xử lý ngôn ngữ tự nhiên</span>
        <span>Bản thảo</span>
      </div>
      <div class="course-process">
        <span>Hoàn thành khóa học</span>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div class="course-hover">
          <h3>Sửa / Quản lý</h3>
      </div>
    </div>
  </div>
  <div class="user-manual">
    <img
      src="../../../../../assets/create-course/engaging-course.jpg"
      alt=""
      style="padding: 0px 150px"
    />
    <div class="user-manual-content">
      <h3>Create an Engaging Course</h3>
      <span
        >Whether you've been teaching for years or are teaching for the first
        time, you can make an engaging course. We've compiled resources and best
        practices to help you get to the next level, no matter where you're
        starting.</span
      >
    </div>
  </div>
</div>
