<div class="user-profile">
    <div class="user-profile-infor">
        <div class="infor">
            <span>Họ đệm</span>
            <input type="text" name="" id="">
        </div>
        <div class="infor">
            <span>Tên</span>
            <input type="text" name="" id="">
        </div>
        <div class="infor">
            <span>Kinh nghiệm</span>
            <input type="text" name="" id="">
        </div>
        <div class="infor">
            <span>Tiểu sử</span>
            <app-normal-editor></app-normal-editor>
        </div>
    </div>
    <div class="user-profile-link">
        <div class="infor">
            <span>Twitter</span>
            <div class="link">
                <span>http://www.twitter.com/</span>
                <input type="text">
            </div>
        </div>
        <div class="infor">
            <span>Facebook</span>
            <div class="link">
                <span>http://www.facebook.com/</span>
                <input type="text">
            </div>
        </div>
        <div class="infor">
            <span>Youtube</span>
            <div class="link">
                <span>http://www.youtube.com/</span>
                <input type="text">
            </div>
        </div>
    </div>
</div>
<button>Lưu thông tin</button>
