<div class="ex-container">
  <div class="ex-header">
    {{title | uppercase}}
  </div>
  <div class="cart-body" *ngIf="cart?.length > 0; else noRecord">
    <div class="cart-items">
      <table>
        <tr *ngFor="let course of cart">
          <td>
            <img src="{{link}}/{{course.img}}">
          </td>
          <td>
            <h2 class="m-0">{{course.title}}</h2>
            <h3>Tạo bởi: {{course.author}}</h3>
          </td>
          <td>
            <div class="text-right cur-point" (click)="remove(course.id)">Xóa</div>
            <div class="text-right cur-point" (click)="remove(course.id)">Lưu vào mục yêu thích</div>
            <!-- <button>delete</button> -->
          </td>
          <td class="price">{{course.price| number:'1.0-0'}} VNĐ</td>
        </tr>
      </table>
    </div>
    <div class="cart-total">
      <h2>{{total}}</h2>
      <!-- <td class="text-right"><h2>{{getTotal() | number:'1.0-0'}} VNĐ</h2></td> -->
      <h1>{{ getTotal()| number:'1.0-0'}} VNĐ</h1>
      <button class="exs-btn success-btn checkout-btn w-100" (click)="onCheckout()">{{checkout}}</button>
    </div>
  </div>

  <ng-template #noRecord>
    <div class="no-record">{{noRecordMessage}}</div>
  </ng-template>
</div>
