@import "../../../../shared/styles/color.scss";
:host {
  .cart-container {
    width: 80%;
    margin: 4rem auto 2rem auto;
    padding: 0 2rem;
    border-radius: 10px;
    box-shadow: 3px 5px 9px 1px $light_gray_0;
    .cart-header {
      font-size: 32px;
      font-weight: bold;
      padding: 2rem 0 1rem;
      border-bottom: 2px solid $light_gray_1;
    }
    .cart-body {
      display: flex;
      justify-content: space-between;
      .cart-items {
        flex-basis: 70%;
        max-width: 70%;
        font-size: 16px;
        padding: 1rem 0;
        & > table {
          width: 100%;
          border-collapse: collapse;
          border: 1px solid #d7d7d7;
          & > tr > td {
            padding: .5rem;
            border: 1px solid;
            border-right: 0px;
            border-left: 0;
            border-color: #d7d7d7;
            & > img {
              width: 150px;
              height: 100px;
            }
          }
        }
      }
      .cart-total {
        flex-basis: 25%;
        max-width: 25%;
        padding: 2rem 0;
        font-size: 18px;
        font-weight: bold;
      }
      .cart-btn {
        font-size: 16px;
      }
    }
  }
  .checkout-btn {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  .price{
    color: $dark_blue;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
  }
}
