<div>
    <app-course-manage-header-content-layout>
      <h1 header>Film & edit</h1>
      <div content class="course-structure">
        <div class="course-structure-heading">
          <div class="course-structure-left">
            <h2>Sắp xếp phòng thu lý tưởng của bạn và nhận phản hồi sớm</h2>
            <span>
              Điều quan trọng là phải thiết lập âm thanh và video của bạn một cách
              chính xác ngay bây giờ, vì việc sửa video sau khi bạn đã quay sẽ khó
              hơn nhiều. Có nhiều cách sáng tạo để sử dụng những gì bạn có để tạo
              video trông chuyên nghiệp.
            </span>
          </div>
          <div class="course-structure-right">
            <img
              src="../../../../../assets/create-course/video-help.jpg"
              alt=""
            />
            <h2>Trợ giúp video miễn phí của chuyên gia</h2>
            <span>Get personalized advice on your audio and video</span>
          </div>
        </div>
        <h2>Một số mẹo</h2>
        <div class="tips">
          <span class="title">Thiết bị có thể dễ dàng.</span>
          <span class="content"
            >Bạn không cần phải mua thiết bị sang trọng. Hầu hết các máy ảnh của
            điện thoại thông minh đều có thể quay video ở định dạng HD và bạn có
            thể ghi âm thanh trên điện thoại khác hoặc micrô bên ngoài.</span
          >
        </div>
        <div class="tips">
          <span class="title">Học sinh cần nghe bạn.</span>
          <span class="content"
            >Một chiếc micro tốt là phần quan trọng nhất của thiết bị mà bạn sẽ
            chọn. Có rất nhiều lựa chọn giá cả phải chăng .. Đảm bảo rằng nó được
            cắm đúng cách và cách bạn 6-12 inch (15-30 cm)..</span
          >
        </div>
        <div class="tips">
          <span class="title">Làm một phòng thu.</span>
          <span class="content"
            >Dọn dẹp phông nền của bạn và sắp xếp các đạo cụ. Hầu hết mọi không
            gian nhỏ đều có thể được biến đổi với phông nền làm từ giấy màu hoặc
            ga trải giường là phẳng.</span
          >
        </div>
        <div class="tips">
          <span class="title">Giảm tiếng ồn và tiếng vang.</span>
          <span class="content"
            >Tắt quạt hoặc lỗ thông hơi và ghi âm vào thời điểm yên tĩnh. Đặt tấm
            xốp cách âm hoặc chăn lên tường và mang theo thảm hoặc đồ nội thất để
            giảm tiếng vọng.</span
          >
        </div>
        <div class="tips">
          <span class="title">Ánh sáng cảnh và khuôn mặt của bạn.</span>
          <span class="content"
            >Tắt đèn trên cao. Thử nghiệm với ánh sáng ba điểm bằng cách đặt hai
            đèn phía trước và một đèn phía sau nhắm vào nền.</span
          >
        </div>
        <div class="tips">
          <span class="title">Sáng tạo.</span>
          <span class="content"
            >Học sinh sẽ không nhìn thấy cảnh hậu trường. Sẽ không ai biết nếu bạn
            được bao quanh bởi những chiếc gối để cách âm ... trừ khi bạn nói với
            những người hướng dẫn khác trong cộng đồng!</span
          >
        </div>
        <H2>Yêu cầu</H2>
        <ul>
          <li>
            Quay phim và xuất ở định dạng HD để tạo video có độ phân giải ít nhất
            là 720p hoặc 1080p nếu có thể
          </li>
          <li>
            Âm thanh phải phát ra từ cả kênh trái và phải và được đồng bộ hóa với
            video của bạn
          </li>
          <li>
            Âm thanh không được có tiếng vọng và tiếng ồn xung quanh để không làm
            học sinh mất tập trung
          </li>
        </ul>
      </div>
    </app-course-manage-header-content-layout>
  </div>
  