.forgot-password-wrapper {
  .email-invalid {
    width: 100%;
    padding: 20px;
    background-color: #fcaea0;
    color: #000;
    border: 1px solid transparent;
  }

}
::ng-deep .mat-progress-spinner > svg {
  width: 30px !important;
  height: 30px !important;
}
