<div class="forgot-password-wrapper">
  <h1 mat-dialog-title>Quên mật khẩu ?</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Ex:du99cy@gmail.com"
        required
        #email_text
      />
    </mat-form-field>
    <ng-template [ngIf]="email_invalid">
      <div class="email-invalid">Email không hợp lệ</div>
    </ng-template>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <ng-template [ngIf]="!loading" [ngIfElse]="loading_temp">
      <button
        mat-raised-button
        cdkFocusInitial
        color="primary"
        (click)="sendEmail(email_text.value)"
      >
        Gửi
      </button>
    </ng-template>
    <ng-template #loading_temp>
      <mat-spinner style="width:30px;height:30px;"></mat-spinner>
    </ng-template>
  </div>
</div>
