.header-my-layout {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px #00000014, 0 4px 12px #00000014;
  .user-box {
    display: flex;
  }

  .search-icon {
    height: 40px;
    width: 35px;
    border: 1px solid black;
    padding: 10px 12px;
    border: none;
  }

  button.btn-log-in:hover {
    opacity: 0.7;
  }

  input {
    height: 40px;
    border: none;
    border-radius: 30px;
    width: 700px;
    outline: none;
  }

  input .active {
    border: none;
  }

  .search {
    display: flex;
    border: 1px solid gray;
    border-radius: 30px;
  }

  button {
    width: 105px;
    height: 40px;
  }

  img {
    cursor: pointer;
  }

  .carousel-indicators .active {
    background-color: #f20b31;
  }

  .a-blue {
    color: #106ba3;
  }

  .a-blue:hover {
    color: #0056b3;
  }

  .user {
    display: flex;
    cursor: pointer;
    color: #106ba3;
    background-color: transparent;
    border-radius: 30px;
    height: 40px;
    width: fit-content;
    padding: 5px;
    align-items: center;
    justify-content: center;

    span {
      position: relative;
      top: 4px;
      margin-left: 5px;
    }
  }

  .user:hover {
    background-color: rgba(187, 184, 184, 0.3);
    transition: 0.1s;
  }

  .dropdown-menu {
    min-height: 100px;
    min-width: 300px;
    background-color: #ffffff;
    margin-right: 70px;
    box-shadow: 0px 0px 0px 1px rgba(155, 89, 89, 0.3);
    border-radius: 10px;
    height: auto;
    width: auto;
    align-items: center;

    a {
      color: #000;
      text-decoration: none;
    }

    .dropdown-menu-item-wrapper {
      height: 40px;
      width: 40px;
      background-color: #f9ebeb;
      border-radius: 50%;

      .dropdown-menu-item {
        background-position: 0px -26px;
        background-size: 26px 224px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        display: inline-block;
      }
    }
  }

  .notification,
  .infor {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    color: #106ba3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(187, 184, 184, 0.1);
    margin-left: 20px;
  }

  .infor {
    .dropdown-menu-header {
      top: 12px !important;
      border: none !important;
    }
  }

  .notification:hover,
  .infor:hover {
    background-color: rgba(187, 184, 184, 0.3);
    cursor: pointer;
  }
  .category {
    position: relative;
    line-height: 35px;
    .category-box {
      position: absolute;
      min-width: 300px;
      background-color: #ffffff;
      box-shadow: 0px 0px 0px 1px rgba(104, 103, 103, 0.3);
      top: 160%;
      display: none;
      ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          cursor: pointer;
        }
        li:hover {
          color: #106ba3;
        }
      }
    }
    .shoping {
      border-bottom: 1px solid rgb(95, 94, 94);
      margin: 10px;
      .shopping-cart {
        display: flex;
        align-items: center;
        img {
          height: 100px;
          width: 100px;
        }
        .shoping-cart-content {
          display: flex;
          flex-direction: column;
          padding: 10px;
          .name {
            line-height: 20px;
            font-weight: bold;
          }
          .author {
            line-height: 20px;
            font-size: 12px;
          }
          .cost {
            line-height: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .category:hover .category-box {
    display: block;
  }
  .category:hover .a-blue {
    color: rgb(16, 107, 163, 0.8);
  }
  .category::after {
    content: "";
    width: 100px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

//
