.header-img {
  background-image: url("../../../../../assets/common-img/carlos-muza-hpjSkU2UYSU-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  .content-img {
    color: #ffffff;
    background-color: #1f3361cc;
    width: 666px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -123px 0 0 40px #ffffff3b;
    h2 {
      font-size: 34px;
      font-weight: bold;

      padding-bottom: 20px;
    }
    span {
      padding: 0px 100px;
      text-align: justify;
    }
  }
}
.training-course:nth-child(even) {
  display: flex;
  padding: 80px 100px;
  flex-direction: row-reverse;
  .training-content {
    display: flex;
    flex-direction: column;
    .name-img {
      border-left: 8px solid #1f2e5c;
      img {
        width: 80px;
        height: auto;
        padding-left: 20px;
      }
      h1 {
        font-size: 34px;
        font-weight: bold;
        color: #1c417a;
        padding-left: 20px;
        padding-top: 40px;
        margin-bottom: 0px;
        padding-right: 20px;
      }
    }
    .text {
      padding: 30px 48px 48px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      span {
        font-size: 14px;
        white-space: pre-wrap;
        text-align: justify;
        letter-spacing: 1px;
      }
    }
  }
  .img{
    box-shadow: -28px 14px 0 0 #f37f2833, 20px -14px 0 0 #3c73a780;
    width: 442px;
  }
}
.training-course:nth-child(odd) {
  display: flex;
  padding: 80px 100px;
  .training-content {
    display: flex;
    flex-direction: column;
    .name-img {
      border-left: 8px solid #1f2e5c;
      img {
        width: 80px;
        height: auto;
        padding-left: 20px;
      }
      h1 {
        font-size: 34px;
        font-weight: bold;
        color: #1c417a;
        padding-left: 20px;
        padding-top: 40px;
        margin-bottom: 0px;
        padding-right: 20px;
      }
    }
    .text {
      padding: 30px 48px 48px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      span {
        font-size: 14px;
        white-space: pre-wrap;
        text-align: justify;
        letter-spacing: 1px;
      }
    }
  }
  .img{
    box-shadow: -28px 14px 0 0 #f37f2833, 20px -14px 0 0 #3c73a780;
    width: 442px;
  }
}
@media screen and (max-width: 1025px) {
  .header-img {
    background-image: url("../../../../../assets/common-img/carlos-muza-hpjSkU2UYSU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    .content-img {
      color: #ffffff;
      background-color: #1f3361cc;
      width: 666px;
      height: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: -123px 0 0 40px #ffffff3b;
      h2 {
        font-size: 34px;
        font-weight: bold;
  
        padding-bottom: 20px;
      }
      span {
        padding: 0px 100px;
        text-align: justify;
      }
    }
  }
  .training-course:nth-child(even) {
    display: flex;
    padding: 80px 100px;
    flex-direction: row-reverse;
    .training-content {
      display: flex;
      flex-direction: column;
      .name-img {
        border-left: 8px solid #1f2e5c;
        img {
          width: 80px;
          height: auto;
          padding-left: 20px;
        }
        h1 {
          font-size: 34px;
          font-weight: bold;
          color: #1c417a;
          padding-left: 20px;
          padding-top: 40px;
          margin-bottom: 0px;
          padding-right: 20px;
        }
      }
      .text {
        padding: 30px 48px 48px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        span {
          font-size: 14px;
          white-space: pre-wrap;
          text-align: justify;
          letter-spacing: 1px;
        }
      }
    }
    .img{
      box-shadow: -28px 14px 0 0 #f37f2833, 20px -14px 0 0 #3c73a780;
      width: 442px;
    }
  }
  .training-course:nth-child(odd) {
    display: flex;
    padding: 80px 100px;
    .training-content {
      display: flex;
      flex-direction: column;
      .name-img {
        border-left: 8px solid #1f2e5c;
        img {
          width: 80px;
          height: auto;
          padding-left: 20px;
        }
        h1 {
          font-size: 34px;
          font-weight: bold;
          color: #1c417a;
          padding-left: 20px;
          padding-top: 40px;
          margin-bottom: 0px;
          padding-right: 20px;
        }
      }
      .text {
        padding: 30px 48px 48px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        span {
          font-size: 14px;
          white-space: pre-wrap;
          text-align: justify;
          letter-spacing: 1px;
        }
      }
    }
    .img{
      box-shadow: -28px 14px 0 0 #f37f2833, 20px -14px 0 0 #3c73a780;
      width: 442px;
    }
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  .header-img {
    background-image: url("../../../../../assets/common-img/carlos-muza-hpjSkU2UYSU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    .content-img {
      color: #ffffff;
      background-color: #1f3361cc;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2 {
        font-size: 20px;
        font-weight: bold;
      }
      span {
        text-align: justify;
        font-size: 14px;
      }
    }
  }
  .training-course:nth-child(even) {
    display: flex;
    padding: 30px 0px;
    .training-content {
      display: flex;
      flex-direction: column;
      .name-img {
        border-left: 8px solid #1f2e5c;
        img {
          width: 80px;
          height: auto;
          padding-left: 20px;
        }
        h1 {
          font-size: 34px;
          font-weight: bold;
          color: #1c417a;
          padding-left: 20px;
          padding-top: 100px;
          margin-bottom: 0px;
          padding-right: 20px;
        }
      }
      .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px 0px;
        span {
          font-size: 14px;
          white-space: pre-wrap;
          text-align: justify;
        
        }
      }
    }
    .img{
      box-shadow: -28px 14px 0 0 #f37f2833, 20px -14px 0 0 #3c73a780;
      position: absolute;
      text-align: right;
      width: 80px;
    }
  }
  .training-course:nth-child(odd) {
    display: flex;
    padding: 30px 0px;
    flex-direction: row-reverse;
    .training-content {
      display: flex;
      flex-direction: column;
      .name-img {
        border-left: 8px solid #1f2e5c;
        img {
          width: 80px;
          height: auto;
          padding-left: 20px;
        }
        h1 {
          font-size: 34px;
          font-weight: bold;
          color: #1c417a;
          padding-left: 20px;
          padding-top: 100px;
          margin-bottom: 0px;
          padding-right: 20px;
        }
      }
      .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px 0px;
        span {
          font-size: 14px;
          white-space: pre-wrap;
          text-align: justify;
          
        }
      }
    }
    .img{
      box-shadow: -28px 14px 0 0 #f37f2833, 20px -14px 0 0 #3c73a780;
      position: absolute;
      text-align: right;
      width: 80px;
    }
  }
}
