.function-name{
    flex: 1;
    align-items: center;
    input{
        width: 70%;
        margin-left: 10px;
        height: 40px;
        font-size: 16px;
    }
    label{
        font-size: 16px;
    }
}
button{
    background-color: #ffffff;
    border: 1px solid #111111;
    padding: 10px;
    margin: 20px 0px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
label{
    font-size: 16px;
}
.add-input{
    display: flex;
    justify-content: space-between;
    input{
        height: 40px;
        margin-left: 10px;
    }
    font-size: 16px;
}