h1 {
    font-family: SuisseWorks, Georgia, Times, times new roman, serif,
      apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.35;
    letter-spacing: -0.02rem;
  }
  .pricing-wrapper{
      font-size: 16px;
      padding: 48px;
  }
  .currency-unit{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    padding:18px;
  }
