<div class="coding-wrapper">
  <ng-container *ngIf="dataObservable | async as data">
    <div class="split-screen">
      <as-split direction="horizontal" [gutterSize]="6">
        <as-split-area [size]="25">
          <app-overview
            [content]="data.content"
            [function]="data.function"
          ></app-overview>
        </as-split-area>
        <as-split-area [size]="50">
          <div class="editor">
            <span>main{{ format }}</span>
            <div class="editor-language">
              <span>{{ editorOptions.language | titlecase }}</span>
              <div class="tip">
                <button mat-icon-button (click)="openDialog()">
                  <mat-icon class="editor-icon">create</mat-icon>
                </button>
                <span class="tooltip-text">
                  Thay đổi giao diện và ngôn ngữ
                </span>
              </div>
            </div>
          </div>

          <div class="my-code-editor">
            <ngx-monaco-editor
              [options]="editorOptions"
              [(ngModel)]="data.template"
              (onInit)="onInit($event)"
              #codeEditor
            ></ngx-monaco-editor>
          </div>
        </as-split-area>
        <as-split-area [size]="25">
          <!-- title -->
          <div class="content-test">
            <span>Test</span>
            <button mat-raised-button color="primary" (click)="runTest(codeEditor,data)">
              <mat-icon>play_circle_outline</mat-icon>RUN TESTS
            </button>
          </div>
          <!-- content -->

          <app-testcast-list-coding [testcases]="data.testcase_list"></app-testcast-list-coding>

          <button mat-raised-button color="primary" class="btn-submit">
            Hoàn thành bài thi
          </button>
        </as-split-area>
      </as-split>
    </div>
  </ng-container>
</div>
