.list-course {
  .slick-slider {
    margin: auto;
    width: 95%;
  }
  .slide{
    margin: 10px;
  }
  .course-container {
    padding-top: 10px;
    .course-content {
      display: flex;
      flex-direction: column;
      position: relative;
      cursor: pointer;
      .course-name {
        font-weight: bold;
        font-size: 16px;
        padding-top: 10px;
        padding: 5px 0px;
      }

      .teacher-name {
        font-weight: 300;
        font-size: 14px;
        padding: 5px 0px;
      }

      .star {
        display: flex;
        align-items: center;
        padding: 5px 0px;
        justify-content: space-between;
        .star-number {
          color: #b4690e;
          padding-right: 5px;
          font-size: 16px;
        }

        mat-icon {
          color: #e59819;
          height: 16px;
          width: 16px;
          font-size: 16px;
        }

        .date {
          padding-left: 5px;
          font-size: 14px;
          font-weight: 300;
        }
      }
      .active {
        right: 0;
        width: 350px;
        height: auto;
        top: 0;
      }
      .course-box {
        line-height: 25px;
        text-align: justify;
        font-size: 15px;
        padding: 30px;
        border: 1px solid transparent;
        position: absolute;
        right: 48.5%;
        width: 350px;
        height: auto;
        top: -30%;
        -webkit-filter: drop-shadow(0px 3px 4px #454545);
        filter: drop-shadow(0px 3px 4px #464646);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
        display: none;
        background-color: #fff;
        animation: hoverBox ease-in 0.1s;
        left: 100%;
        z-index: 10;

        .course-infor {
          display: flex;
          flex-direction: column;

          .course-name {
            font-weight: bold;
            font-size: 16px;
            padding-top: 20px 10px;
            padding: 5px 0px;
            padding: 10px;
          }

          ul {
            padding: 10px;
          }

          .course-des {
            padding: 10px;
          }

          .tool-btns {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;

            button.add-card {
              width: 80%;
              height: 50px;
              background-color: #106ba3;
              color: #ffffff;
            }

            .favorite-btn {
              margin-left: 5px;
              width: 20%;
              height: 50px;
              border: 1px solid #111;
              border-radius: 50%;

              button {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                mat-icon {
                  height: 40px;
                  width: 40px;
                  font-size: 40px;
                  position: absolute;
                  top: 14px;
                  right: 8px;
                }
              }
            }
          }
        }

        .course-infor::after {
          content: "";
          border: solid;
          border-color: transparent #fff transparent transparent;
          position: absolute;
          border-width: 8px 15px;
          left: -29px;
          top: 50%;
        }
      }
    }
    .course-content::after {
      content: "";
      position: absolute;
      background-color: transparent;
      top: 0px;
      right: -15px;
      width: 20px;
      height: 300px;
      z-index: 10;
    }

    .course-content:hover {
      .course-box {
        display: block;
      }
    }
  }

  @keyframes hoverBox {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
}

::ng-deep.slick-prev::before ,::ng-deep.slick-next::before
  {
    color: rgba($color: gray, $alpha: 0.6) !important;
    width: 40px !important;
    height: 40px !important;
   }

@media screen and (max-width: 1025px) {
  .course-container {
    .course-content::after {
      display: none;
    }

    .course-content:hover {
      .course-box {
        display: none;
      }
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .course-container {
    .course-content::after {
      display: none;
    }

    .course-content:hover {
      .course-box {
        display: none;
      }
    }
  }
}
