.container {
    max-width: 1340px;
    background-color: #dadee0;
    height: 1000px;
    .time{
        padding-top: 20px;
        margin: 0px 25px;
        h1{
            background-color: #0d4579;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
            padding: 10px;
        }
    }
    .multiple-choice{
        .row{
            justify-content: space-between;
            padding: 0px 40px;
            .question-content{
                background-color: #ffffff;
                height: 800px;
                width: 68%;
               
            }
            .number-question{
                width: 30%;
                .user-infor{
                    background-color: #ffffff;
                    height: 300px;
                    width: 100%;
                }
            }
        }
    }
  }