<div class="signup_page_wrapper">
  <div class="signup-wrapper">
    <div class="signup-header">Đăng kí và bắt đầu học thôi nào !!!</div>

    <div class="signup-content">
      <form [formGroup]="signUpFormGroup">
        <div fxFlex>
          <!-- first name Form control -->
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Họ đệm</mat-label>

            <input
              matInput
              placeholder="First Name"
              formControlName="firstName"
            />
          </mat-form-field>
          <!-- last name Form control -->
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Tên</mat-label>

            <input
              matInput
              placeholder="Last Name"
              formControlName="lastName"
            />
          </mat-form-field>
          <!-- Email form control -->
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Email</mat-label>

            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
          <!-- password form control -->
          <mat-slide-toggle #toggle
            >Hiển thị chi tiết quy tắc đặt mật khẩu</mat-slide-toggle
          >
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Mật khẩu</mat-label>
            <mat-pass-toggle-visibility
              #toggleVisibilityPassword
              matSuffix
            ></mat-pass-toggle-visibility>
            <input
              matInput
              #passwordWithValidation
              placeholder="Password"
              [type]="toggleVisibilityPassword.type"
              formControlName="password"
            />
            <mat-hint align="end" aria-live="polite">
              {{ passwordWithValidation.value.length }} / 25
            </mat-hint>
            <!-- <mat-error
              *ngIf="
                isError('password','required')
              "
            >
              {{ValidationsMessages['password'].required}}
            </mat-error> -->
            <!-- <mat-error
              *ngIf="
                isError('password','pattern')
              "
            >
            {{ValidationsMessages['password'].invalid}}
            </mat-error> -->
          </mat-form-field>
          <mat-password-strength
            class="green"
            #passwordComponentWithValidation
            [password]="passwordWithValidation.value"
          >
          </mat-password-strength>
          <!--Password's strength info-->
          <mat-password-strength-info
            *ngIf="this.toggle.checked"
            [passwordComponent]="passwordComponentWithValidation"
            lowerCaseCriteriaMsg="Chứa ít nhất 1 kí tự thường"
            upperCaseCriteriaMsg="Chứa ít nhất 1 kí tự viết hoa"
            digitsCriteriaMsg="Chứa ít nhất 1 kí tự chữ số"
            specialCharsCriteriaMsg="Chứa ít nhất 1 kí tự đặc biệt"
            minCharsCriteriaMsg="Chiều dài nhỏ nhất là 8 kí tự"
          >
          </mat-password-strength-info>
          <!-- confirm password form control -->
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Xác nhận mật khẩu</mat-label>
            <mat-pass-toggle-visibility
              #toggleVisibilityConfirmPassword
              matSuffix
            ></mat-pass-toggle-visibility>
            <input
              matInput
              #passwordWithValidation
              placeholder="Confirm Password"
              [type]="toggleVisibilityConfirmPassword.type"
              formControlName="confirmPassword"
            />
            <mat-hint align="end" aria-live="polite">
              {{ passwordWithValidation.value.length }} / 25
            </mat-hint>
            <!-- <mat-error *ngIf='isError("confirmPassword","mismatch")'></mat-error> -->
          </mat-form-field>

          <ng-template [ngIf]="!loading" [ngIfElse]="loadingBtn">
            <div *ngIf="is_error" class="error">{{ error_message }}</div>

            <button
              [disabled]="signUpFormGroup.invalid"
              mat-flat-button
              color="primary"
              (click)="signUp()"
            >
              Đăng kí
            </button>

            <div *ngIf="email_is_sent" class="send_email_success">
              Hệ thống đã gửi email đến bạn . Vui lòng vào email để kích hoạt
              tài khoản .
            </div>
          </ng-template>
          <ng-template #loadingBtn>
            <button class="loading" mat-stroked-button>Loading ...</button>
          </ng-template>
        </div>
      </form>

      <div class="login">
        <span>
          Nếu bạn đã có tài khoản ?
          <a routerLink="/login"> Hãy đăng nhập</a>
        </span>
      </div>
    </div>
  </div>
</div>
