<div>
  <app-course-manage-header-content-layout>
    <h1 header>Cấu trúc khóa học</h1>
    <div content class="course-structure">
      <div class="course-structure-heading">
        <div class="course-structure-left">
          <h2>Có một khóa học trong bạn. Lên kế hoạch.</h2>
          <span>
            Lập kế hoạch cho khóa học của bạn một cách cẩn thận sẽ tạo ra một lộ
            trình học tập rõ ràng cho sinh viên và giúp bạn khi bạn quay phim.
            Hãy nghĩ đến chi tiết của từng bài giảng, bao gồm kỹ năng bạn sẽ
            dạy, thời lượng video ước tính, các hoạt động thực tế cần đưa vào
            cũng như cách bạn tạo phần giới thiệu và tóm tắt.
          </span>
        </div>
        <div class="course-structure-right">
          <img
            src="../../../../../assets/create-course/library-help.jpg"
            alt=""
          />
          <h2>Thư viện tài nguyên của chúng tôi</h2>
          <span
            >Mẹo và hướng dẫn để cấu trúc một khóa học mà sinh viên yêu
            thích</span
          >
        </div>
      </div>
      <h2>Một số mẹo</h2>
      <div class="tips">
        <span class="title">Bắt đầu với mục tiêu của bạn.</span>
        <span class="content"
          >Đặt mục tiêu cho những gì người học sẽ hoàn thành trong khóa học của
          bạn (còn được gọi là mục tiêu học tập) ngay từ đầu sẽ giúp bạn xác
          định nội dung cần đưa vào khóa học của mình và cách bạn sẽ giảng dạy
          nội dung để giúp người học đạt được mục tiêu.</span
        >
      </div>
      <div class="tips">
        <span class="title">Lập dàn ý.</span>
        <span class="content"
          >Quyết định những kỹ năng bạn sẽ dạy và cách bạn sẽ dạy chúng. Nhóm
          các bài giảng có liên quan thành các phần. Mỗi phần nên có ít nhất 3
          bài giảng và bao gồm ít nhất một bài tập hoặc hoạt động thực hành. Tìm
          hiểu thêm..</span
        >
      </div>
      <div class="tips">
        <span class="title">Giới thiệu bản thân và tạo động lực.</span>
        <span class="content"
          >Mọi người trực tuyến muốn bắt đầu học một cách nhanh chóng. Tạo một
          phần giới thiệu để người học cảm thấy hứng thú trong 10 phút đầu
          tiên.</span
        >
      </div>
      <div class="tips">
        <span class="title">Các phần có mục tiêu học tập rõ ràng.</span>
        <span class="content"
          >Giới thiệu từng phần bằng cách mô tả mục tiêu của phần đó và tại sao
          mục tiêu đó lại quan trọng. Đặt tiêu đề bài giảng và phần phản ánh nội
          dung của chúng và có một luồng hợp lý.</span
        >
      </div>
      <div class="tips">
        <span class="title">Các bài giảng bao gồm một khái niệm.</span>
        <span class="content"
          >Thời lượng bài giảng tốt là từ 2-7 phút để thu hút sự quan tâm của
          học sinh và giúp học sinh học tập trong thời gian ngắn. Bao gồm một
          chủ đề duy nhất trong mỗi bài giảng để người học có thể dễ dàng tìm và
          xem lại chúng sau này.</span
        >
      </div>
      <div class="tips">
        <span class="title">Trộn và kết hợp các loại bài giảng của bạn.</span>
        <span class="content"
          >Luân phiên giữa quay phim bản thân, màn hình và trang trình bày hoặc
          các hình ảnh khác. Thể hiện bản thân có thể giúp người học cảm thấy
          được kết nối.</span
        >
      </div>
      <div class="tips">
        <span class="title"
          >Các hoạt động thực hành tạo ra việc học thực hành.</span
        >
        <span class="content"
          >Giúp người học áp dụng các bài học của bạn vào thế giới thực của họ
          bằng các dự án, bài tập, bài tập viết mã hoặc trang tính.</span
        >
      </div>
      <H2>Yêu cầu</H2>
      <ul>
        <li>Xem danh sách đầy đủ các yêu cầu về chất lượng khóa học</li>
        <li>Khóa học của bạn phải có ít nhất năm bài giảng</li>
        <li>
          Tất cả các bài giảng phải có tổng số video dài hơn ít nhất 30 phút
        </li>
        <li>
          Khóa học của bạn bao gồm nội dung giáo dục có giá trị và không có tài
          liệu quảng cáo hoặc gây mất tập trung
        </li>
      </ul>
    </div>
  </app-course-manage-header-content-layout>
</div>
