.curriculum-wrapper {
  .header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;

  }
  .drag-drop-list {
    width: 100%;
    max-width: 100%;
    margin-top:50px;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }

  .drag-drop-box {
    padding: 10px 10px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:last-child {
    border: none;
  }

  .drag-drop-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .btns-list {
    position: relative;
    max-height: 0;
    margin-left: -30px;

    .add-btn-container {
      width: 100%;
      height: 60px;

      .add-btn,.delete-btn{
        width: 40px;
        height: 27px;
        position: relative;
        background:transparent;
        border: transparent;
        outline: none;
      }
      .add-btn {


        border: 1px dashed #6a6f73;
        border-right: 0;
        background: #fff;
        outline: none;
        display: none;

        i {
          transition: all 0.5s;
          z-index: 1;

          // &:hover {
          //   transition: all 0.5s;
          //   transform: rotate(35deg) skew(-15deg);
          // }
        }

        &::before {
          transition: all 500ms;
          content: '';
          position: absolute;
          right: -11px;
          top: 2px;
          height: 21px;
          width: 21px;
          background: #fff;
          border: 1px dashed #6a6f73;
          border-bottom: none;
          border-left: none;
          transform: rotate(35deg) skew(-15deg);
          z-index: -1;
        }


      }

      &:hover {
        .add-btn {

          display: block;
        }
      }
    }
  }

  .content-type-btns {
    position: relative;
    top:30px;
    margin-bottom: -25px;
    padding: 10px;
    border: 1px dashed #6a6f73;
    background: #fff;

    button {
      display: inline;
      width: auto;
      padding: 0 5px;
      margin: 0 20px;
      color: #5624d0;
      background-color: transparent;
      border: 1px solid transparent;

    }


  }
  .lecture-creation-wrapper{
    margin-top:60px;
    margin-left: 10%;
    width:90%;
  }
}
h1 {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.35;
  letter-spacing: -0.02rem;
}
