<div class="quiz-creation-wrapper">
  <form #form = "ngForm">
    <div class="title">{{titleCreation}}</div>
    <div class="content">
      <input type="text" placeholder="Tiêu đề" name="title" ngModel/>
      <app-normal-editor name="description" ngModel></app-normal-editor>
      <input type="number" placeholder="Thời gian làm bài(phút)" name="timeForQuiz" ngModel/>

      <div class="btns-container" align="end">
        <button
          class="btn cancel-btn"
          (click)="btnClickHandler(0)"
          type="button"
        >
          Huỷ
        </button>
        <button class="btn save-btn" type="button" (click)="btnClickHandler(1,form.value)">Lưu</button>
      </div>
    </div>
  </form>
</div>
