<div
  *ngFor="let category of categoryList; index as i; let f = first"
  class="list-course"
>
  <h1>{{ category }}</h1>
  <div class="row">
    <div *ngFor="let course of dataSource[category]" class="col-3">
      <div class="course-container">
        <div class="course-content">
          <div class="d-flex flex-column" (click)="goToDetail(course.id)">
            <img
              src="{{ link }}/{{ course.img }}"
              alt=""
              class="img-response"
            />
            <span class="course-name">{{ course.title }}</span>
            <span class="teacher-name"></span>
          </div>
          <div class="star">
            <span style="font-weight: bold;">{{ course.price|number:'1.0-0'}} VND</span>
          </div>
          <div class="course-box">
            <div class="course-infor">
              <span class="course-name"> {{ course.title }}</span>
              <span class="course-des" *ngFor="let item of course.knowleages_will_learn">{{item}}</span>
              <span class="course-des">
                Ngôn ngữ:
                {{ course.teaching_language }}</span
              >
              <div class="tool-btns">
                <button
                  mat-flat-button
                  class="add-card"
                  color="#106ba3"
                  (click)="addToCart(course)"
                >
                  Thêm vào giỏ
                </button>
                <div class="favorite-btn">
                  <ng-template [ngIf]="like" [ngIfElse]="notLikeBtn">
                    <button mat-icon-button class="favorite">
                      <mat-icon> favorite </mat-icon>
                    </button>
                  </ng-template>
                  <ng-template #notLikeBtn>
                    <button mat-icon-button class="favorite">
                      <mat-icon> favorite_border </mat-icon>
                    </button>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
