<div class="course-container">
  <div class="course-content" (click)="goToDetail()">
    <img src="../../../../../assets/common-img/355212_948a_10 (1).jpg" alt="" />
    <span class="course-name"
      >Web Design for Beginners: Real World Coding in HTML & CSS 1</span
    >
    <span class="teacher-name">Brad Schiff</span>
    <div class="star">
      <span class="star-number">5</span>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <span class="rate">(19,0201)</span>
    </div>
    <span class="cost">$84.99</span>
    <div class="course-box">
        <div class="course-infor">
            <span class="course-name">
              Web Design for Beginners: Real World Coding in HTML & CSS 1</span
            >
            <span class="course-des"
              >Master the foundations of digital drawing and illustration and create
              art like a pro</span
            >
            <ul>
              <li>Create any website layout you can imagine</li>
              <li>
                Support any device size with Responsive (mobile-friendly) Design
              </li>
              <li>Add tasteful animations and effects with CSS3</li>
            </ul>
            <button class="add-card">Thêm vào giỏ</button>
          </div>
    </div>
  </div>
  <div class="course-content">
    <img src="../../../../../assets/common-img/355212_948a_10 (1).jpg" alt="" />
    <span class="course-name"
      >Web Design for Beginners: Real World Coding in HTML & CSS 2 </span
    >
    <span class="teacher-name">Brad Schiff</span>
    <div class="star">
      <span class="star-number">5</span>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <span class="rate">(19,0201)</span>
    </div>
    <span class="cost">$84.99</span>
    <div class="course-box">
        <div class="course-infor">
            <span class="course-name">
              Web Design for Beginners: Real World Coding in HTML & CSS 2</span
            >
            <span class="course-des"
              >Master the foundations of digital drawing and illustration and create
              art like a pro</span
            >
            <ul>
              <li>Create any website layout you can imagine</li>
              <li>
                Support any device size with Responsive (mobile-friendly) Design
              </li>
              <li>Add tasteful animations and effects with CSS3</li>
            </ul>
            <button class="add-card">Thêm vào giỏ</button>
          </div>
    </div>
  </div>
  <div class="course-content">
    <img src="../../../../../assets/common-img/355212_948a_10 (1).jpg" alt="" />
    <span class="course-name"
      >Web Design for Beginners: Real World Coding in HTML & CS 3</span
    >
    <span class="teacher-name">Brad Schiff</span>
    <div class="star">
      <span class="star-number">5</span>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <span class="rate">(19,0201)</span>
    </div>
    <span class="cost">$84.99</span>
    <div class="course-box">
        <div class="course-infor">
            <span class="course-name">
              Web Design for Beginners: Real World Coding in HTML & CSS 3</span
            >
            <span class="course-des"
              >Master the foundations of digital drawing and illustration and create
              art like a pro</span
            >
            <ul>
              <li>Create any website layout you can imagine</li>
              <li>
                Support any device size with Responsive (mobile-friendly) Design
              </li>
              <li>Add tasteful animations and effects with CSS3</li>
            </ul>
            <button class="add-card">Thêm vào giỏ</button>
          </div>
    </div>
  </div>
  <div class="course-content">
    <img src="../../../../../assets/common-img/355212_948a_10 (1).jpg" alt="" />
    <span class="course-name"
      >Web Design for Beginners: Real World Coding in HTML & CSS 4</span
    >
    <span class="teacher-name">Brad Schiff</span>
    <div class="star">
      <span class="star-number">5</span>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <span class="rate">(19,0201)</span>
    </div>
    <span class="cost">$84.99</span>
    <div class="course-box">
        <div class="course-infor">
            <span class="course-name">
              Web Design for Beginners: Real World Coding in HTML & CSS 4</span
            >
            <span class="course-des"
              >Master the foundations of digital drawing and illustration and create
              art like a pro</span
            >
            <ul>
              <li>Create any website layout you can imagine</li>
              <li>
                Support any device size with Responsive (mobile-friendly) Design
              </li>
              <li>Add tasteful animations and effects with CSS3</li>
            </ul>
            <button class="add-card">Thêm vào giỏ</button>
          </div>
    </div>
  </div>
  
</div>
