.lecture-creation-wrapper {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  form {
    width: 100%;
    padding: 20px;
    .input-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      
      .title {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        span {
          font-size: 16px;
        }
        input {
          flex: 1;
          padding: 10px;
          height: 100%;
          outline: none;
          font-size: 16px;
        }
      }
      .desc{
          display: flex;
          flex-direction: column;
      }
    }

    .btns-container {
      margin-top: 10px;
    }
  }
}
