.quiz-creation-wrapper{
    width: 100%;
    height: auto;
    border: 1px solid rgba(0,0,0,0.5);
    padding:20px;
    form{
      width: 100%;
      display: flex;
      height: auto;
      .title{
        width:20%;
        font-size: initial;
        font-weight: 500;
      }
      .content{
        width: 80%;
        input{
          width: 100%;
          height: 50px;
          outline: none;
        }
      }
      .input-container{
        width: 100%;
        display:flex;
        align-items: center;
        margin-left:10%;
        span{
          font-size:16px;
          width:10%;
        }
        div{
          width: 80%;
          height:40px;
          input{
            width: 100%;
            height: 100%;
            outline:none;
          }
        }

      }

      .btns-container{
        margin-top:10px;
      }
    }
  }
