<div class="footer">
   <div class="container">
    <div class="footer-content">
        <div class="footer-img">
          <img
            src="../../../assets/common-img/logo.png"
            alt=""
            class="img-response"
            height="70px"
          />
        </div>
        <div class="footer-connect">
          <span class="address">
            Phòng 316, Tòa nhà 489 Hoàng Quốc Việt, Cầu Giấy, Hà Nội.
          </span>
          <div class="phone-email">
            <span class="email"> anhnq@aiacademy.edu.vn </span>
            <span class="phone"> (+84)24 6662 7166 </span>
          </div>
        </div>
        <div class="social">
          <i class="fab fa-facebook social-icon" style="font-size: 20px; margin-right: 5px;"></i>
          <i class="fab fa-google-plus-g social-icon"  style="font-size: 20px; margin-right: 5px;"></i>
          <i class="fab fa-twitter social-icon"  style="font-size: 20px;"></i>
        </div>
      </div>
      <div class="infor">
        <span>© Hệ thống kiểm tra đánh giá</span>
        <span>© {{ this.currentYear }} AI Academy </span>
      </div>
   </div>
    
  </div>
