.footer {
    background-color: white;
    border-top: 1px solid rgb(219, 219, 219);
    .footer-content{
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid gray;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer-connect{
      display: flex;
      flex-direction: column;
      
      .address{
        height: 30px;
      }
      .phone-email{
        font-size: 14px;
        .email{
          border-right: 1px solid gray;
          padding-right: 10px;
        }
        .phone{
          padding-left: 10px;
        }
      }
    }
    .infor{
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .footer {
      background-color: white;
      border-top: 1px solid rgb(219, 219, 219); 
      .footer-content{
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .social{
        display: none;
      }
      .footer-connect{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .phone-email{
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-top: 10px;
          .email{
            border: none;
            padding-right: 0px;
          }
          .phone{
            padding-left: 0px;
          }
        }
      }
      .infor{
        padding-top: 0px;
        padding-bottom: 0px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  