
<div>
    <app-course-manage-header-content-layout>
      <h1 header>Trang đích của khóa học</h1>
      <div content class="course-landing-wrapper">
        <div class="course-landing-item">
            <span>

            </span>
            <input type="text">
        </div>
        <div class="course-landing-item">
            <span>

            </span>
            <input type="text">
        </div>
        <div class="course-landing-item">
            <span>

            </span>
            <app-editor></app-editor>
        </div>
        <app-cropper-image></app-cropper-image>
      </div>
    </app-course-manage-header-content-layout>
  </div>
  