
<div>
    <app-course-manage-header-content-layout>
      <h1 header>Trang đích của khóa học</h1>
      <div content class="course-landing-wrapper">
        <div class="course-landing-item">
            <span>
              Tên khóa học
            </span>
            <input type="text">
        </div>
        <div class="course-landing-item">
            <span>
              Phụ đề khóa học
            </span>
            <input type="text">
        </div>
        <div class="course-landing-item">
            <span>
              Mô tả khóa học
            </span>
            <app-editor></app-editor>
        </div>
        <div class="course-landing-item">
          <span>
            Hình ảnh khóa học
          </span>
          <app-cropper-image></app-cropper-image>
      </div>
        
      </div>
    </app-course-manage-header-content-layout>
  </div>
  