.hd-ct-wrapper {
  width: 100%;
  height: 100%;
  .header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 10px;
  }
  .content {
    margin: 20px;
  }
}
