/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cancel-btn,
.save-btn {
  height: 50px;
  width: 10%;


}
.cancel-btn{
  color: #000;
  font-weight: 500;
}
.save-btn{
  background-color: #000;
  color: #fff;

}

.btn-add-form {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #000;
  height: 40px;
  width: 15%;
}



