<div class="container">  
  <h1>Khoá học của bạn</h1>
  <div class="course-container row">
    <div
      class="course-content col-12 col-md-4"
      *ngFor="let item of listCourseUser; index as i; let f = first"
    >
      <div style="display: flex; flex-direction: column" (click)="goToDetail(item._id)">
        <img src="{{link}}/{{item.img}}" alt="" class="img-response" />
        <span class="course-name">{{ item.title }}</span>
        <span class="teacher-name">{{ item.price }}</span>
      </div>
      <div class="star">
        <span class="star-number">5</span>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <span class="date"
          ></span
        >
      </div>
    </div>
  </div>

</div>
