<ng-template [ngIf]="this.userData">
  <h1>Khoá học của bạn</h1>
  <div class="course-container row">
    <div
      class="course-content col-12 col-md-4"
      *ngFor="let item of listCourseUser; index as i; let f = first"
    >
      <div style="display: flex; flex-direction: column" (click)="goToDetail(item.id_mon_hoc)">
        <img [src]="item.avatar | https" alt="" class="img-response" />
        <span class="course-name">{{ item.ten_mon_hoc }}</span>
        <span class="teacher-name">{{ item.mo_ta }}</span>
      </div>
      <div class="star">
        <span class="star-number">5</span>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <span class="date"
          >({{ item.thoi_gian_bat_dau * 1000 | date: "MM/dd/yyyy" }} -
          {{ item.thoi_gian_ket_thuc * 1000 | date: "MM/dd/yyyy" }})</span
        >
      </div>
    </div>
  </div>
</ng-template>
