<div class="container">  
  <h1>Khoá học của bạn</h1>
  <div class="course-container row">
    <div
      class="course-content col-12 col-md-4"
      *ngFor="let item of listCourseUser; index as i; let f = first"
    >
      <div style="display: flex; flex-direction: column" (click)="goToDetail(item.id)">
        <img src="{{link}}/{{item.img}}" alt="" class="img-response" />
        <span class="course-name">{{ item.title }}</span>
        <span class="teacher-name">{{ item.price |number:'1.0-0'}} VND</span>
      </div>
      <div class="star">
        
      </div>
    </div>
  </div>

</div>
