<div>
  <app-course-manage-header-content-layout>
    <h1 header>Thông điệp khóa học</h1>
    <div content class="messages-wrapper">
      <p>
        Viết tin nhắn cho sinh viên của bạn (tùy chọn) sẽ được gửi tự động khi
        họ tham gia hoặc hoàn thành khóa học của bạn để khuyến khích sinh viên
        tham gia vào nội dung khóa học. Nếu bạn không muốn gửi tin nhắn chào
        mừng hoặc chúc mừng, hãy để trống hộp văn bản.
      </p>
      <div class="messages">
          <span>Tin nhắn chào mừng</span>
          <textarea name="" id="" cols="30" rows="8" maxlength="1000"></textarea>
      </div>
      <div class="messages">
        <span>Tin nhắn chúc mừng</span>
        <textarea name="" id="" cols="30" rows="8" maxlength="1000"></textarea>
      </div>
    </div>
  </app-course-manage-header-content-layout>
</div>
