.user-container{
    padding: 80px;
    height: 100%;
    h1{
        font-size: 32px;
        font-weight: bold;
        font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    }
    
}