<div class="container">
    <h1>
        Thông tin và Cài đặt
    </h1>
    <div class="user-infor">
        <form runat="server">
            <div class="infor">
                <span>First Name</span>
                <input type="text" name="" id="">
            </div>
            <div class="infor">
                <span>Last Name</span>
                <input type="text" name="" id="">
            </div>
            <div class="infor">
                <span>Avata</span>
                <input accept="image/*" type='file' id="imgInp">
            </div>
            <div class="infor">
                <span>Mật khẩu</span>
                <div class="password">
                    <input type="password">
                    <button>Đổi mật khẩu</button>
                </div>
            </div>
            <div class="btn">
                <button>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>